google-cloud-pubsub
# todo upgrade https://github.com/googleapis/python-kms/blob/release-v2.0.0/UPGRADING.md
google-cloud-kms
canonicaljson
PyJWT
google-api-python-client
httplib2
oauth2client
requests
google-auth-httplib2
pycrypto
canonicaljson
